<div class="row mt-3">
    <div class="col-sm-4 mb-3">
        <div class="card text-white bg-success">
            <div class="card-body">
                <h5 class="card-title">Distancia</h5>
                <h1 class="headerResultados" id="resultDistancia"></h1>
            </div>
        </div>
    </div>
    <div class="col-sm-4 mb-3">
        <div class="card text-white bg-success">
            <div class="card-body">
                <h5 class="card-title">Tarifa</h5>
                <h1 class="headerResultados" id="resultTarifa"></h1>
            </div>
        </div>
    </div>
    <div class="col-sm-4 mb-3">
        <div class="card text-white bg-success">
            <div class="card-body">
                <h5 class="card-title">Tarifa nocturna</h5>
                <h1 class="headerResultados" id="resultTarifaNocturna"></h1>
            </div>
        </div>
    </div>
</div>
